## ----- Required -----

SQUIRREL_DB=db
SQUIRREL_AUTH=secret-token

# http(s)://<server-id>@<host>:port
# At least one seed is required. Squirrel reads topology from it.
SQUIRREL_SEEDS="http://server1@localhost:18881 http://server2@localhost:18882"

## ----- Optional -----

# Log level (default: info)
LOG_LEVEL=info # debug, info, warn, error

# Query without _id, broadcast to all servers (default: false)
SQUIRREL_ALLOW_FULL_SCAN=true
# Queue writes on backup server when primary is down (default: false)
SQUIRREL_ALLOW_BACKUP_SERVER=true

## ----- Replication -----

# Enable replication (default: false)
SQUIRREL_REPLICATION_ENABLED=false
# Number of nodes to replicate data to (default: 3)
SQUIRREL_REPLICATION_FACTOR=3
